
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

h1
{
    margin-top: 3%;
    text-align: center;
}
.fotoAutor
{
    background: linear-gradient(to right, #005c98, #505BDA);
    margin-top: 2%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.fotoAutor img
{
    width: 200px;
    height: 200px;
}

.fotoAutor p
{
    width: 95%;
    margin-top: 2%;
    text-align: justify;

}
.fotoAutor .burbujas .burbuja
{
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    opacity: .3;
    position: absolute;
    bottom: -150;
    left: 5%;

    animation: burbujas 3s linear infinite;
}

@keyframes burbujas 
{
    0%
    {
        bottom: 0;
        opacity: 0;
    }    
    30%
    {
        transform: translateX(30px);
    }
    50%
    {
        opacity: .4;

    }
    100%
    {
        bottom: 100vh;
        opacity: 0;
    }
}

.burbuja:nth-child(1)
{
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2)
{
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s
}

.cartas
{
    width: 100%;
    height: 400px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #573391;
}

.cartas .carta
{
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    width: 25%;
    background-color: #F0F0F0;
    border-radius: 3%;
    text-align: center;
    height: 70%;
    box-shadow: 0px 15px 28px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 15px 28px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 15px 28px 0px rgba(0,0,0,0.75);
}

.cartas .carta h3
{
    margin-top: 10%;
    font-size: 25px;
}
.cartas .carta ul 
{
    margin-top: 5%;
}
.cartas .carta ul li
{
    list-style: none;
    margin-top: 2%;
}

h3
{
    text-align: center;
}

.Familia
{
    display: flex;
}
h3
{
    margin-top: 5%;
}
.Familia img
{
    width: 700px;
    height: 500px;
    
}

.Familia p
{
    margin-top: 10%;
}
